{% extends "base.html.twig" %}

{% set tablesCount = 4 %}
{% set tblsColsBehavior = "col-xs-6 col-md-3" %}

{# expects variable `stations` #}
{% block htmlHeader%}
<script type="text/javascript">
{% if page.loadingDataFailed|default(false) %}
setTimeout(function(){ location.reload(true); }, 60*1000);
{% endif %}
var maxShow = 300;
var statSearch = new FilterTable(maxShow);

$.get("./rc/stations.csv", function(response) {
    var respStr = new String(response);
    var csv = $.csv.toObjects(respStr);
    var sFilter = new StationFilter(csv);
    statSearch.setStations(sFilter);
    statSearch.search(document.getElementById('stop_point_search_text').value);
}, dataType='text');

</script>
{% endblock %}



{% block content %}

{% if page.loadingDataFailed|default(false) %}
<p class="lead">Could not load the data.</p>
{% endif %}

<p class="lead">Choose a station.</p>

<form action="./" method="get">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text"
                    onchange="statSearch.search(this.value)"
                    onkeydown="statSearch.search(this.value)"
                    onkeypress="statSearch.search(this.value)"
                    onkeyup="statSearch.search(this.value)"
                    class="form-control"
                    name="stop_point_search_text"
                    id="stop_point_search_text"
                    value="{{ page.stopPointSearchText }}"
                    placeholder="Station" />
                <input type="hidden"
                    name="stop_point_ref"
                    id="stop_point_ref"
                    value="{{ page.stopPointRef }}" />
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="&rarr;" />
                </span>
            </div>
        </div>
    </div>
</form>
<p id="showed_results"></p>
<div class="row stations_list">
    {% for i in range(0, tablesCount) %}
    <div class="{{ tblsColsBehavior }}">
        <table id="stations{{ i }}" class="stations table table-striped table-condensed table-bordered table-responsive"></table>{# stations #}
    </div>{# col #}
    {% endfor %}
</div>{# row #}
<script>
var tables = [];
for(var i = 0; i < {{ tablesCount }}; i += 1) {
    tables[i] = document.getElementById('stations' + i);
}

statSearch.setTables(tables);
statSearch.setStopPointRef(document.getElementById('stop_point_ref'));
statSearch.setResultInfo(document.getElementById('showed_results'));
</script>
{% endblock %}
