{% extends "base.html.twig" %}

{# expects variable `journeys` #}

{% block content %}

{% if page.use_mock %}
This is mocked data!<br />
{% endif %}

{% for journey in journeys %}
	{# get first station #}
	{% set start = journey.PreviousCalls[0] %}

	{# get the stop we requested to observe #}
	{% set stop = journey.ThisCall %}

	{# get last station where the train will end #}
	{% set end = journey.OnwardCalls|last %}

<div class="stopPoint">
	<p class="arrival">{{ stop.ServiceArrival.TimetabledTime|date("m/d/Y H:i:s") }}</p>
	<p class="detail">
	{{ start.StopPointName.Text }} {{ start.ServiceDeparture.TimetabledTime|date("m/d/Y H:i:s") }} 
	--> {{ stop.StopPointName.Text }} 
	--> {{ end.StopPointName.Text }} {{ end.ServiceArrival.TimetabledTime|date("m/d/Y H:i:s") }}
	</p>
</div>{# stopPoint #}

{% endfor %}

{% endblock %}
